/* You can add global styles to this file, and also import other style files */
body {
  background: #26110A;
  background: -moz-linear-gradient(left, #26110A 0%, #1C6EA4 59%, #594219 100%);
  background: -webkit-linear-gradient(left, #26110A 0%, #1C6EA4 59%, #594219 100%);
  background: linear-gradient(to right, #26110A 0%, #1C6EA4 59%, #594219 100%);
  }